// .backgroundImg{
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
// }
%backgroundImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}